:root {
  font-family: 'Segoe UI', system-ui, sans-serif;
  color: #3e3b48;
  background: #e6ddf1;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
